.dishCard {
  padding: 15px 20px;
}

.dishContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.dishImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: #1f1f1f;
}


.dishInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-right: auto;
}

.dishTitle {
  font-size: 20px;
}

.dishPrice {
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}