.AdminDishesPage {

}

.PageTop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.dishesList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}