.modalFooter{
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
}
.totalSum{
  border-top: 1px solid #f0f0f0;
  padding: 15px 0;
}
.sumLine{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}